<button {{action 'delete' blogPost}}>Delete</button>

<h1>{{blogPost.title}}</h1>

<h3>Written By: {{blogPost.author}}</h3>


<p>
  {{blogPost.body}}
</p>

<img src={{blogPost.image}} alt="Skydiving Image" />
